.game {
  text-align: center;
}

.game .game-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 2rem auto;
}

.game .game-status p {
  font-size: 1.5em;
}

.game .game-status button {
  background: lightblue;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}

.play-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.click-guard {
  position: absolute;
  z-index: 2;
  width: 400px;
  height: 400px;
}
